@import 'variables';
@import 'mixins';

.big-title {
    font-size: $fnt-sz-big;

    @include media-breakpoint-down($md) {
        font-size: $fnt-sz-md;
    }
}

.header-cap-letr {
    color: $dark-purple;
    font-size: 2rem;
    // font-weight: bold;
}

.bottom-right-image {
    position: absolute;
    bottom: 15%;
    right: 20%;
}

.top-left-image {
    position: absolute;
    top: 15%;
    left: 10%;

    max-width: 40vw;
}

.desktop-img {
    @include media-breakpoint-down($lg) {
        display: none;
    }
}

.bottom-right-card {
    position: absolute;
    bottom: 15%;
    right: 20%;

    @include media-breakpoint-down($lg) {
        position: relative;
        bottom: 0;
        right: 0;
    }
}

.top-left-card {
    position: absolute;
    top: 15%;
    left: 10%;

    @include media-breakpoint-down($lg) {
        position: relative;
        top: 0;
        left: 0;
    }
}

.center-right-leaf {
    position: absolute;
    top: 35%;
    right: 15%;

    @include media-breakpoint-down($lg) {
        z-index: 100;
        top: 5%;
        right: 0%;
    }

    @include media-breakpoint-down($sm) {
        height: 30%;
    }
}

.top-right-leaf {
    position: absolute;
    top: 10%;
    right: 15%;

    @include media-breakpoint-down($lg) {
        z-index: 100;
        top: 0%;
        right: 5%;

        height: 30%;
    }

    @include media-breakpoint-down($sm) {
        height: 25%;
    }
}

.bottom-left-leaf {
    position: absolute;
    bottom: 10%;
    left: 15%;

    @include media-breakpoint-down($lg) {
        z-index: 100;
        bottom: 5%;
        left: 0%;
    }

    @include media-breakpoint-down($sm) {
        height: 30%;
    }
}

.left-leaf {
    height: 100%;

    @include media-breakpoint-down($lg) {
        height: 45%;
        position: absolute;
        bottom: 0%;
    }

    @include media-breakpoint-down($sm) {
        height: 30%;
    }
}

.capital-letter {
    color: $pink;
    font-size: 4rem;

    @include media-breakpoint-down($sm) {
        font-size: $fnt-sz-md;
    }
}

.quote {
    font-style: italic;
}

.enfasi {
    font-size: 7rem;
    color: $pink;

    @include media-breakpoint-down($lg) {
        font-size: 4rem;
    }

    @include media-breakpoint-down($sm) {
        font-size: $fnt-sz-md-minus;
    }
}