@import 'variables';
@import 'mixins';

/* .header-nav {
    position: fixed;
    z-index: 2;
    background-color: transparent;

    ul {
        padding-left: 1rem;
        padding-top: 1rem;

        li {
            display: inline-block;

            a {
                display: inline-block;
                padding: 1rem;
            }

            a::after {
                content: "";
                display: block;
                height: 4px;
                width: 0%;
                background-color: $pink;
                transition: all 0.5s ease-in-out;
            }

            a:hover::after {
                width: 100%;
            }
        }
    }
} */

.header-nav {
    position: fixed;
    z-index: 2;
    background-color: transparent;

    width: 100vw;

    .hamburger-container {
        background-color: $white;
        padding: 0.5rem;

        @include media-breakpoint-up($lg) {
            display: none;
        }

        .hamburger {
            background-color: transparent;
            max-height: 3rem;
            max-width: 3rem;
            min-height: 3rem;
            min-width: 3rem;
    
            padding: 0.3rem;
    
            // border: 3px solid $pink;
            // border-radius: 10px;
            border: none;
    
            @include flex-column;
            @include flex-around-center;
    
            .hamburger-line::after {
                content: '';
                background-color: $pink;
                position:absolute;
                top:0;
                left:-0.85rem;
    
                width: 1.8rem;
                height: 3px;
    
                border-radius: 1.5px;
            }
    
        }
    
        /* .hamburger:active {
            border-color: $gold;
        } */
    
        .hamburger:active .hamburger-line::after {
            background-color: $gold;
        }
    }

    

    ul {
        position: absolute;
        top:-175%;
        z-index: -10;

        background-color: $white;
        width: 100vw;

        transition: all 1s;

        @include media-breakpoint-up($lg) {
            @include flex-row;
            @include flex-center;

            list-style: none;

            min-height: 7vh;
        }

        li {
            font-size: $fnt-sz-stnd-plus;

            @include media-breakpoint-up($lg) {
                min-width: 30vw;
            }

            @include media-breakpoint-down($md) {
                font-size: $fnt-sz-stnd;
            }
        }

        li a {
            display: inline-block;
            width: 100%;

            text-align: center;
        }
    }

    .show-nav {
        transform: translateY(155%);
    }
}