@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
}

@mixin flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin flex-around-center {
    justify-content: space-evenly;
    align-items: center;
}



@mixin media-breakpoint-down($brkpnt) {
    @media screen and (max-width: $brkpnt) {
        @content;
    }
}

@mixin media-breakpoint-up($brkpnt) {
    @media screen and (min-width: $brkpnt) {
        @content;
    }
}