@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import 'variables';

/* RESET START */
* {
    position: relative;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: $font-main;
    color: $carbon-blue;
}

*::before, *::after {
    box-sizing: border-box;
}

*::selection {
    background: $gold;
}

*::-moz-selection {
    background: $gold;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a, button {
    color: $black;
    text-decoration: none;
}
/* RESET END */