/* MAIN FONT */
$font-main: 'Libre Baskerville', serif;

/* FONT SIZES */
$fnt-sz-sm: 0.9rem;
$fnt-sz-stnd: 1rem;
$fnt-sz-stnd-plus: 1.5rem;
$fnt-sz-md-minus: 2rem;
$fnt-sz-md: 3rem;
$fnt-sz-big: 7rem;

/* MAIN COLORS */

$pink: #9d7f84;
$gold: #b8ab9b;
$dark-purple: #574e56;
$carbon-blue: #212529;
$grey: #666;
$white: #fff;
$black: #000;

/* BREAKPOINTS */

$sm: 575.98px;    // x-small devices (portrait phones, less than 576px)
$md: 767.98px;    // small devices (landscape phones, less than 768px)
$lg: 991.98px;    // medium devices (tablets, less than 992px)